body{
  background-color: #262626;
  color: red;
  margin: 0;
}
.l{
  background-color: white;
  border: 3px solid green;
  width: 40px;
  height: 40px;
  border-radius: 80px;
}
.cose{
  display: flex;
}
.coss{
  display: flex;
}
.te{
  transform: translate(0px, 25%);
}
.q{
  background-color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: q;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes q{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
